@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.navbar {
  background-color: seagreen;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 10px; /* Add space between logo and text */
}

.logo-text {
  font-weight: bold;
  font-size: 20px;
  font-family: 'Lora', serif;
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.nav-links li {
  margin-right: 35px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: 'Lora', serif;
  flex-shrink: 0;
}

.nav-links a:hover {
  text-decoration: underline;
}
